<h1><%= @poem.title %></h1>

<table>
  <tr>
    <th>title</th>
    <td><%= @poem.title %></td>
  </tr>
  <tr>
    <th>written_on</th>
    <td><%= @poem.written_on %></td>
  </tr>
  <tr>
    <th>status:</th>
    <td><%= @poem.status %></td>
  </tr>
</table>

<h2>Submissions:</h2>
<ul>
  <% @poem.submissions.each do |submission| %>
    <li>
      <%= "#{submission.journal.name}--#{submission.date_made}" %>
    </li>
  <% end %>
</ul>

<%= render 'notes/note', notes: @poem.notes, notable_type: "Poem", notable_id: @poem.id %>

<a href="<%= poems_url %>">Back</a>
